*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.font-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;

}

nav{
    display: flex;
    justify-content: space-between;
    max-width: 1600px;
    background-color: #ffffff;
    padding: 16px 120px;
    align-items: center;
}

nav ul{
    display: flex;
    gap: 32px;
    font-size: 16px;
    font-weight: 500px;
    
}

nav ul li{
    list-style-type: none;
}

nav ul li a{
    text-decoration: none;
    color: black;
   
}

.btn{
    background-color: #469165;
    color: white;
    padding: 12px 16px;
    border-radius: 4px;
    border: none;
    font-weight: 600px;
    font-size: 16px;
}

.btn:hover{
    cursor: pointer;
    background-color: rgb(97, 94, 94);
    color: white;
}

#hero-section{
    max-width: 1600px;
    background: url(./assets/hero-bg.png);
    padding: 70px 120px 134px 120px;
}

.hero-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.hero-container .hero-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.frame{
    display: flex;
    align-items: center;
    background-color: #ffffff;
    padding: 8px 12px;
    border-radius: 1000px;
    gap: 6px;
}

.hero-content .frame h6{
    color: #30B868;
}

.hero-container .hero-content h1{
    font-size: 72px;
    font-weight: 700;
    line-height: 84px;
    text-align: center;
    text-transform: capitalize;
    color: white;
}

.green-color{
    color: #30B868;
}

.hero-container .hero-content p{
    text-align: center;
    font-size: 18px;
    line-height: 35px;
    color: #FFFFFF;
    font-weight: 300;

}

.hero-button{
    display: flex;
    gap: 16px;
}

.primary1{
    display: flex;
    gap: 10px;
}

.primary2{
    background-color: transparent;
    border: 1px solid white;
}

#notes-section{
    max-width: 1600px;
    padding: 0px 120px 120px 120px;
    text-align: center;
    background-color: #fbfbfb;

}

#notes-section .note-header{
    max-width: 1360px;
    padding-top: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.note-header h2{
    font-size: 48px;
    font-weight: 700;
    color: #001931;
    text-transform: capitalize;
}

.note-header p{
    font-size: 16px;
    font-weight: 400;
    color: #627382;
}

#notes-section .card-container{
    display: flex;
    gap: 24px;
    margin-top: 44px;
}

.card-container .card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    box-shadow: 0 7px 60px 0 rgb(212, 208, 208);
    border-radius: 5px;
    padding: 24px;
    max-width: 332px;
}

.card .card-image{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #F95555;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 70px;
}
.card .card-image img{
    width: 32px;
    height: 32px;

}

.card h3{
    font-size: 24px;
    font-weight: 600;
    text-transform: capitalize;
    text-align: center;
}

.card p{
    margin-bottom: 70px;
    color: #627382;

}