*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.font-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;

}

nav{
    display: flex;
    justify-content: space-between;
    max-width: 1600px;
    background-color: #ffffff;
    padding: 16px 120px;
    align-items: center;
}

nav ul{
    display: flex;
    gap: 32px;
    font-size: 16px;
    font-weight: 500px;
    
}

nav ul li{
    list-style-type: none;
}

nav ul li a{
    text-decoration: none;
    color: black;
   
}

.btn{
    background-color: #469165;
    color: white;
    padding: 12px 16px;
    border-radius: 4px;
    border: none;
    font-weight: 600px;
    font-size: 16px;
}

.btn:hover{
    cursor: pointer;
    background-color: rgb(97, 94, 94);
    color: white;
}

#hero-section{
    max-width: 1600px;
    background: url(./assets/hero-bg.png);
    padding: 70px 120px 134px 120px;
}

.hero-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.hero-container .hero-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.frame{
    display: flex;
    align-items: center;
    background-color: #ffffff;
    padding: 8px 12px;
    border-radius: 1000px;
    gap: 6px;
}

.hero-content .frame h6{
    color: #30B868;
}

.hero-container .hero-content h1{
    font-size: 72px;
    font-weight: 700;
    line-height: 84px;
    text-align: center;
    text-transform: capitalize;
    color: white;
}

.green-color{
    color: #30B868;
}

.hero-container .hero-content p{
    text-align: center;
    font-size: 18px;
    line-height: 35px;
    color: #FFFFFF;
    font-weight: 300;

}

.hero-button{
    display: flex;
    gap: 16px;
}

.primary1{
    display: flex;
    gap: 10px;
}

.primary2{
    background-color: transparent;
    border: 1px solid white;
}