*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.font-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;

}

nav{
    display: flex;
    justify-content: space-between;
    max-width: 1600px;
    background-color: #ffffff;
    padding: 16px 120px;
    align-items: center;
}

nav ul{
    display: flex;
    gap: 32px;
    font-size: 16px;
    font-weight: 500px;
    
}

nav ul li{
    list-style-type: none;
}

nav ul li a{
    text-decoration: none;
    color: black;
   
}

.btn{
    max-width: 164px;
    background-color: #469165;
    color: white;
    padding: 12px 16px;
    border-radius: 4px;
    border: none;
    font-weight: 600px;
    font-size: 16px;
}

.btn:hover{
    cursor: pointer;
    background-color: rgb(80, 78, 78);
    color: white;
}